.border-1{
    border:4px black solid;
    box-shadow: 5px 5px 5px #ccc;
 
}

.flex-container{
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.margin{
    margin:20px;
}
